body {
  font-family: "Leckerli One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000355; /* Fallback color if image fails to load */
  color: #cf7858;
  font-size: 30px;
  position: relative; /* Needed for pseudo-element positioning */
  min-height: 100vh; /* Ensure full coverage */
}
#title {
    position: relative;
    align-items: center;
}
#heading {
    text-align: center;
}
#para {
    padding-top: 50px;
    padding-left: 100px;
    text-align: left;
    width: 40%;
}
#container3D {
  position: fixed;
  inset: 0;
  /* background-color: red; */
  z-index: 100;
  pointer-events: none;
}
