body {
  font-family: "Knewave", serif;
  font-weight: 200;
  font-style: normal;
  background-color: #00ff11a8; /* Fallback color if image fails to load */
  color: #003d02;
  font-size: 30px;
  position: relative; /* Needed for pseudo-element positioning */
  min-height: 100vh; /* Ensure full coverage */
}
#title {
  text-align: center;
}
#para {
    padding-top: 500px;
    text-align: center;
}
#container3D {
  position: fixed;
  inset: 0;
  /* background-color: red; */
  z-index: 100;
  pointer-events: none;
}
